.body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.header{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 90%;
    border-radius: 25px;

}

.logo{
    font-size: x-large;
    color: yellow;
    text-decoration: none;
}

.buscador {
  display: flex;
  align-items: center;
  width: 300px;
}


.buscador input {
  padding: 8px;
  border-radius: 8px;
  width: 500px;
}

.buscador button {
  padding: 8px 12px;
  margin-left: 8px;
  background-color: rgb(235, 235, 14);
  border-radius: 10px;
}

.auth-buttons a{
    text-decoration: none;
    color: yellow;
    margin: 10px;
    padding-left: 10px;
}

/* hasta aca llega el header */

.main {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
}

.categorias{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 20px;
    width: 20%;
    height: 850px;
    border-radius: 5px;
    margin-right: 50px;
}

.categorias-lista {
    list-style: none;
}

.categorias-lista li {
    margin: 10px 0;
    padding: 2px;
}

.categorias-lista li a {
    text-decoration: none;
    color:grey
}

.titulo-categorias {
    text-align: center;
    color: black;
}

/* productos destacados */

.contenido-principal {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.productos-destacados{
    display: flex;;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;   
}

.productos-destacados article {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 220px;
    justify-content: center;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
}

.productos-destacados article p{
    margin-left: 30px;
    margin-right: 15px;
}

.productos-destacados .precio {
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ver-mas {
    text-decoration: none;
    background-color: blue;
    color: yellow;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.productos-destacados img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.productos-destacados h4 {
   color: black;
   margin-left: 15px;
   margin-right: 15px;
}
/* footer */
.footer {
    background-color: blue;
    color: yellow;
    text-align: center;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin-top: 20px;
}

.nombres{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.nombres li{
    margin: 10px;
    list-style: none;
    text-align: center;
}

/* login y register */


.login-register-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  background:white; 
  padding: 35px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  border: 2px solid blue;
  margin-top: 50px;
  margin-bottom: 110px;
}


.login-register-contenido h2 {
  margin-bottom: 30px;
  color: blue; 
}

.login-register-contenido input {
  padding: 15px;
  border: 1px solid blue;
  border-radius: 8px;
  margin-bottom: 20px;
}

.login-register-contenido button {
  padding: 15px;
  background-color: blue; 
  color: yellow;
  border: none;
  margin-bottom: 20px;
  border-radius: 7px;
}

.login-2 {
  margin-bottom: 160px;
}

/* detalle producto */

.main-producto {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-self: center;
}

.producto-detalle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.producto-info {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
}

.producto-imagen {
  margin-right: 30px;
}

.producto-imagen img {
  width: 500px;
  height:500px;
  border-radius: 10px;
}

.producto-caracteristicas li{
  margin: 20px;
    
}
.producto-tags{
    display: flex;
    flex-direction: column;
}
.producto-tags ul{
    display: flex;  
}
.producto-tags ul li{
    margin: 20px;
}

.producto-datos {
  display: flex;
  flex-direction: column;
}

.producto-datos h1 {
  color: blue;
  margin-bottom: 20px;
}


.stock-disponible {
  color: green;
}

.producto-precio {
  font-size: x-large;
  color: blue;
  background-color: yellow;
  border-radius: 8px;
  border: 2px solid blue;
  text-align: center;
  width: 200px;
}

.producto-descripcion {
  margin: 20px 0;
}

.producto-descripcion h3 {
  color: blue;
  margin-bottom: 10px;
}

.reviews-section {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin: 20px 0;
}

.reviews-section h3 {
  color: blue;
  border-bottom: 2px solid blue;
  padding: 20px;
}

.review-item {
  border-bottom: 1px solid grey;
  padding: 20px 0;
}

.review-usuario {
  color: blue;
}

.review-rating {
  color: #ffd700;
}
/* termina la pag detalle */

.titulo-productos{
    text-align: center;
    color: white;
    margin: 30px 0 20px 0;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid yellow;
}

/* media queries celular */


@media (max-width: 420px) {

  .contenido-principal {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .productos-destacados {
    width: 100%;

  }

  .productos-destacados article {
    width: 100%;
  }

  .header {
    flex-direction: column;
  }

  .buscador {
    width: 80%;
  }

  .main {
    flex-direction: column;
  }

  .categorias {
    width: 100%;
    height: 810px;
}

  .buscador {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

  .footer {
    width: 90%;
    text-align: center;
  }

  .nombres {
    text-align: center;
    padding: 0px;
  }

  .login-register-contenido {
    width: 70%;
  }


  .main-producto {
    width: 90%;
    align-self: center;
  }

  .producto-info {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  
  .producto-datos {
    width: 70%;
    align-items: center;
  }

  .producto-imagen {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .producto-imagen img {
    width: 200px;
    height: 200px;
  }
  
  .producto-tags ul {
    flex-direction: column;
    align-items: center;
  }

}